<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.educonnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EduConnect"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AuthActivity"
            android:label="Home"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".Course1"
            android:label="Course 1"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Course2"
            android:label="Course 2"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Course3"
            android:label="Course 3"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Course4"
            android:label="Course 4"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Course5"
            android:label="Course 5"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Course6"
            android:label="Course 6"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Calendar"
            android:label="My Calendar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Pdf"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuesAns"
            android:label="Questions n' Answers"
            />
        <activity android:name=".AddQues"
            android:label="Ask!"
            android:parentActivityName=".MainActivity">

        </activity>
    </application>

</manifest>